body{
    align-items: center;
}

#cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 90vh;
    align-self: center;
    margin-left: 4%;
}

.card{
    margin: 1%;
    width: 30%;
    height: 300px;
}

#konto{
    width: 98%;
}

.card-body{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.budget{
    
    margin-bottom: -10px;
    font-size: 80px;
}

.vB{
    margin-top: 40px;
}

.card-title{
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: 50px;
}

#kontoEuro{
    font-size: 70px;
}

#nav{
    background-color: #ffcc00;
}

#logo{
    height: 50px;
}

#Buckets{
    margin-right: 65vw;
}

#Vorname{
    color: rgb(6, 6, 80);
}
#kontostand{
    margin-left:4% ;
    margin-right: 4%;
}