body{
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#main{
    height: min-content;
    display: flex;
}

#Transactionen{
    width: 60%;
    
}

#nav{
    background-color: #ffcc00;
   
}

#logo{
    height: 50px;
    margin-left: 15%;
}

.name{
    width: 100px;
    margin-right: 45%;
    margin-bottom: 0;
    height: 10px;
    display: flex;
    align-items: center;
}



.list-group-item{
    display: flex !important;
    flex-direction: row;
    align-items: center;
    width: 50vw;
    
}

.box-cat{
    border: 2px solid #ffcc00;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding:5px;
    width: fit-content;
    height: fit-content;
}

.list-group{
    margin: 10px;
}

#logout{
    margin-right: 65vw;
}

.negativ{
    color: #9e0017;;
    font-weight: bold;
    margin: 0;
    margin-right: 15%;
    display: flex;
    align-items: center;
}

.positiv{
    color: #006800;
    font-weight: bold;
    margin: 0;
    margin-right: 15%;
    display: flex;
    align-items: center;
}

#side{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cM{
    margin: 0;
    font-size: 80px;
}

.tt{
    margin-top: 2vh;
    font-size: 30px;
    font-weight: bold;
}

#lW{
    font-size: 80px;
    margin-left: 20%;
    font-weight: bold;
}



#se{
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
}

#feet{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffcc00;
    
    color: rgb(6, 6, 80);
    display: flex;
    flex-direction: row;
    height: 45px;
    
}

#footer-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    height: fit-content;
    margin-top: 10px;
}

.footer-link{
    text-decoration: none;
    margin-bottom: 0;
    margin-right: 5px;
    margin-left: 5px;
    height: fit-content;
}

.footer-link:hover{
    opacity: 70%;
}

#copyr{
    text-decoration: none;
    margin-bottom: 0px;
    margin-right: 5px;
    margin-left: 50vw;
    height: fit-content;
    margin-top: 10px;
}

#container{
    height: 50vh;
    width: 50vw;
}

.card-body{
    display: flex;
    flex-direction: column;
}

.card-title{
    position: relativ;
    margin-left: 10vw;
    font-size: 40px;
}

.card{
    margin: 10px;
}

#deine-Transactionen{
    margin: 5px;
}