body {
    width: 400px;
    height: fit-content;
    border: 8px solid #ffcc00;
    overflow: hidden;
    display: block;
    box-sizing: border-box;
}

.blue_number {
    font-size: 24px;
    color: #0A3478 !important;
    font-weight: bold;
}

.red_number {
    font-size: 24px;
    color: #9e0017;
    font-weight: bold;
}

.percentage_number {
    font-size: 24px;
    font-weight: bold;
}

.position-absolute.top-0.end-0.mt-3.m-4 {
    font-size: 30px;
    cursor: pointer;
}